body{
    font: 20px Arial;
}
.navbar {
    background-color: #6C6F79;
}

.quem-somos{
    background-color: #6DA1A4;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10PX;
}
.parceiros{
    background-color: #BBC9CA ;
}

.bg-footer{
    background-color: #2D4042;
    color: white;
}